<h1>Articles#index</h1>
<div> hellow all </div>
<ul>
  <% @articles.each do |article| %>
  <li>
    <a href="<%=article_path(article)%>">
    <%= article.title %>
    </a>
    <%= article.body %>
  </li>

  <% end %>

  <%= link_to " New Article", new_article_path %>


</ul>

